/*
 * common settings
 */
body {
  font-family: "Source Han Sans", sans-serif;
  line-height: 2rem;
}

.main {
  max-width: 40rem;
  margin: 3rem auto 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

code,
pre {
  font-family: "Fira Code", "Cascadia Code", monospace;
}

a:link {
  color: #000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 1.5rem auto 1.5rem;
}
