<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="A blog about web development/compute programming.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/public/css/normalize.css">
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/public/css/pure-min.css">
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- JS -->
  <script defer src="{{ site.baseurl }}/public/js/analytics.js"></script>
</head>
