<!DOCTYPE html>
<html lang="zh-Hans">

  {% include head.html %}

  <body>
    <div class="pure-g content">
      <div class="pure-u-1-5"></div>
      <div class="pure-u-3-5">
        <div class="pure-menu pure-menu-horizontal">
          <a href="/" class="pure-menu-heading pure-menu-link">{{ site.title }}</a>
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">关于</a></li>
          </ul>
        </div>
        {{ content }}
      </div>
      <div class="pure-u-1-5"></div>
    </div>
  </body>
</html>
