<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-0d layout-reverse sidebar-overlay">
    <!-- fork gmdl article -->

    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </span>
          <div class="mdl-layout-spacer"></div>

          <div class="demo-navigation-container">
            <nav class="demo-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.baseurl }}/about/">About</a>
            </nav>
          </div>
        </div>
      </header>

      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          {{ content }}
        </div>
      </main>
    </div>
  </body>
</html>
